<!-- ./views/show.handlebars -->
<div class="container py-5 restaurant text-center">
  <a href="/" class="btn btn-primary float-left">back</a>
  <div class="float-right">
    <a href="/restaurants/{{{restaurant.id}}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i></a>
    <form action="/restaurants/{{{restaurant.id}}}/delete" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-primary"><i class="fas fa-trash-alt"></i></button>
    </form>
  </div>
  <h1 class="mb-5">{{restaurant.name}}</h1>
  <div class="text-center row">
    <img class="rounded mb-4 col-12 col-md-6 col-lg-6 mx-auto" src="{{restaurant.image}}" alt="Card image cap"
      style="max-height: 300px;">
    <div class="col-12 col-md-6 col-lg-6 mx-auto text-left">
      <div><i class="fas fa-utensils mr-2 mb-3"></i>類別：{{ restaurant.category }}</div>
      <div><i class="fas fa-map-marker-alt mr-2 mb-3"></i>地址：{{ restaurant.location }}
        <a href="{{ restaurant.google_map }}" class="mx-2 text-danger" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs">Map</i>
        </a>
      </div>
      <div><i class="fas fa-mobile-alt mr-2 mb-3"></i>電話：{{ restaurant.phone }}</div>
      <p class="mb-3"><strong>Description：</strong>{{restaurant.description}}</p>
    </div>
  </div>
</div>